In [145]:
#tuples are unchangeable,and allow dublicate values
t1= (1,2,333,443,2,1,22,22,22)
print(type(t1))

<class 'tuple'>

In [146]:
 # t1[1]=('a')
 # print(t1)

In [147]:
print(len(t1))

9

In [148]:
#tuple with one element
t2= (12,1)
print(type(t2))

<class 'tuple'>

In [149]:
#acces tuple item and this is called indexing
t1[1]

2

In [150]:
t1[2:5]

(333, 443, 2)

In [151]:
t1[-2]
t1[-6:]

(443, 2, 1, 22, 22, 22)

In [152]:
y = list(t1)
print(type(y))

<class 'list'>

In [153]:
y[2]=11
print(y)

[1, 2, 11, 443, 2, 1, 22, 22, 22]

In [154]:
t1=tuple(y)
print(t1)

(1, 2, 11, 443, 2, 1, 22, 22, 22)

In [155]:
#convert tuple into list to delete and add something
z = list(t1)
print(type(z))

<class 'list'>

In [156]:
z.append(3)
z

[1, 2, 11, 443, 2, 1, 22, 22, 22, 3]

In [157]:
z.pop(2)
z

[1, 2, 443, 2, 1, 22, 22, 22, 3]

In [158]:
tuple_add1=(1,2,3,4)

In [159]:
tuple_add1 = tuple_add1+t2
tuple_add1

(1, 2, 3, 4, 12, 1)

In [160]:
print(type(t2))

<class 'tuple'>

In [180]:
v= tuple_add1+t2
v

(1, 2, 3, 4, 12, 1, 12, 1)

In [182]:
print(type(v))

<class 'tuple'>

In [188]:
#how many time element exist in tuple
v.count(12)

2

In [190]:
v.index(3)

2